*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background: url(../images/headerBg.jpg) no-repeat center center /cover;
    background-attachment: fixed;
    height: 100vh;
}

.main{
    background: grey;
    height: 100vh;
}

.main__link{
    color: red;
    font-size: 30px;
    border: 5px solid violet;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.title{
    background: rgb(53, 248, 167);
    width: max-content;
    font-size: 30px;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
}